.pagination {
	display: flex;
	box-sizing: border-box;
	position: relative;
	grid-column: 2;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 10px;
	padding: 20px 0px;
	width: 100%;
	height: 60px;
	box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.277);
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.2s ease;
    text-decoration: none;
}

/* Стрелка назад (слева) */
.arrowPrev {
    position: absolute;
    left: 9%;
    bottom: 50%;
    transform: translateY(50%);
}

/* Стрелка вперед (справа) */
.arrowNext {
    position: absolute;
    right: 9%;
    bottom: 50%;
    transform: translateY(50%);
}

.pagination-link:hover {
    background-color: rgba(163, 163, 163, 0.149);
    border-radius: 50%;
}

.pagination-link img {
    box-shadow: none;
    object-fit: cover;
    height: auto;
    width: 60%;
    transition: all 0.2s ease;
    pointer-events: none;
}

.pagination p {
	font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
	font-size: 20px;
  font-style: normal;
	color: #393939;
	margin: 0;
	padding: 0;
}